depositMint=987hGSLGHQDzWSKU9KDfSjtTRmow4SVRvzbMDug9JvFU
depositVault=7Biy1YSY9nFaCKBQ6s6SVQrSSRdBrERvTVCeeYSMgEPZ
yieldMint=VTKa7UUFM3dGHgtzTJd7DAsK5z4YEB4Meb3PgUrMS76
yieldVault=J1CbsbpgHTJ2XAuqkR2L8kuazYizadsQR6Tn91bfv5Jr
tickets=4yXo2fZdCCrzoXA5RgzSdURjs2Y3865rWbTWJo7Gwt3F
vaultManager=EPKVTjsLwMkhUMxwmAASKsaYwZJpkW8HtVDYGtFtySGw
userDepositAta=ovJ3RDnfk5MqgkdDPYNLVS2T75DUWhZP2WUAgL9ry2X
swapDepositVault=7YAsMZV6yFrpJsD3dLpfdwcnZ7xUFYTRzH4prE9jxK2
swapYieldVault=BGpA962Ecx64XaGEPTA2oD4ffoGEhW6BBGAFYUBV3gje
poolMint=9NHMYT9f136PeSaSWNgbgQn4nnyK9nz7yq457ViCyU5X
amm=B4LcxtJTBVb3wpJ33uSAG41AHz4jVeQL4L84seUNG6Gu
ammAuthority=H4DdwtWEvHEKadQUXEzHB2MVUTmv4UCUrfgJ5f2fqKzv
poolFee=6MospuYJP8bzgcBWy6FzjiigERDYX2PSTSWRkmjND3CG
